<br/>
<br/>

<%= link_to 'ADD Admin', new_admin_user_path %>


    <table>
      <thead><td><b>Email</b></td></thead>

      <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.email  %></td>
         <td><%= link_to 'change Password', edit_admin_user_url(user) %></td>
        <td><%= link_to 'delete' %>
      </tr>
     </tbody>
<% end %>

     </table>



